<!doctype html>
<html lang="en" ng-app="Portfolio">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Robbie Antenesse</title>
    <meta name="description" content="Full Stack Web Developer and Hobby Game Developer">
    <meta name="author" content="Robbie Antenesse">
    <meta name="keywords" content="developer, JavaScript, Front-End Web Developer, web dev, development, coding, programmer">
    
    <meta property="og:title" content="Robbie Antenesse | Web Developer">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="www.domain.com">
    <meta property="og:url" content="http://domain.com/index.html">
    <meta property="og:description" content="Full Stack Web Developer">
    <meta property="og:image" content="http://domain.com/images/siteimage.png">
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="200" />
    
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
    <!-- Sass compiled stylesheet with Bootstrap -->
    <link rel="stylesheet" href="css/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>

    <!-- HTML5 shim for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<container id="content" ng-controller="Content">

    <nav>
        <container>
            <header>
                <button type="button" class="collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="/">{{siteTitle}}</a>

                <links class="collapse" id="navbar-collapse">
                    <ul>
                        <li><a href="#top">▲ Top</a></li>
                        <li><a href="#about">About Me</a></li>
                        <li><a href="#projects">Projects</a></li>
                    </ul>
                </links>
            </header>
        </container>
    </nav>

    <section id="summary">
        <a name="top" class="anchor"></a>
        <h2>{{summaryTitle}}</h2>

        <section id="traits-container">
            <div class="trait card-container" ng-repeat="trait in traits" ontouchstart="this.classList.toggle('hover');">
                <div class="card-flipper">
                    <div class="card-front">
                        <img src="{{trait.icon}}" alt="{{trait.name}}" />
                    </div>
                    <div class="card-back">
                        <h2>{{trait.name}}</h2>
                        <p class="details">{{trait.details}}</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="skills-container">
            <div class="skill card-container" ng-repeat="skill in skills" ontouchstart="this.classList.toggle('hover');">
                <div class="card-flipper">
                    <div class="card-front">
                        <img src="{{skill.icon}}" alt="{{skill.name}}" />
                    </div>
                    <div class="card-back">
                        <h2>{{skill.name}}</h2>
                    </div>
                </div>
            </div>
        </section>

        <section id="info-container">
            <a name="about" class="anchor"></a>
            <h2>{{informationTitle}}</h2>

            <article class="info" ng-repeat="section in information">
                <div class="panel-heading">{{section.heading}}</div class="panel-heading">
                <p class="details">{{section.text}}</p>
            </article>
        </section>

    </section>


    <section id="projects-container">
        <a name="projects" class="anchor"></a>
        <h2>{{projectsTitle}}</h2>

        <div class="project" ng-repeat="project in projects">
            <img src="{{project.thumbnail}}" alt="{{project.name}}" />
            <h3>{{project.name}}</h3>
            <span>{{project.startDate}} &ndash; {{project.endDate}}</span>
            <p>{{project.snippet}}</p>
        </div>
    </section>

</container>

<footer>

</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Bootstrap compiled and minified JavaScript -->
<script src="bootstrap-sass-3.3.7/assets/javascripts/bootstrap.min.js"></script>
<script src="js/controllers.js"></script>
</body>
</html>