<!-- About Section -->
<section class="section notification is-success" id="about">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">
                <h2 class="title">About</h2>
                <hr>
            </div>
        </div>
        <div class="columns">
            <div class="column is-4 is-offset-2">
                <div class="content">
                    <p>
                        I am a professional web developer who specializes in JavaScript front end development and PHP + MySQL
                        back end development.
                    </p>
                    <p>
                        My JavaScript experience includes a number of applications and libraries including NodeJS, Webpack,
                        ReactJS, jQuery, and more, while my back end experience includes technologies like Wordpress, MODX,
                        custom databases, SQL, and more.
                    </p>
                </div>
            </div>
            <div class="column is-4">
                <div class="content">
                    <p>
                        I currently work full time at Inquisicorp, but I am available for freelance projects. I love building
                        new projects and helping make peoples' visions for their websites a reality.
                    </p>
                    <p>
                        My rates are <strong>$50 per hour</strong> for building the project and implementing new features
                        and <strong>$20 per hour</strong> for consultation after the project is complete in case you need
                        help adding new features yourself.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column is-8 is-offset-2">
                <hr>
                <p>
                    I pride myself in writing clean, readable code, and always aim to create the lightest and tidiest
                    projects possible. When I build a new project, my goal is to make it understandable to clients who
                    have some level of coding experience so they can make any changes they need to.
                </p>
            </div>
        </div>
    </div>
</section>