{% assign about = site.data.about %}
<section id="about" class="background-green">
  <article class="flex one two-600">
    <section class="full half-600 third-800 fourth-1000 paddingless">
      <figure class="profile">
        <img src="{{ site.baseurl }}/images/profile.jpg" alt="Profile Picture of Robbie Antenesse" />
      </figure>
    </section>
    <section class="full half-600 two-third-800 three-fourth-1000">
      <article class="container text-center">
        <section>
          <h1 style="padding-bottom:0;">{{ about.heading }}</h1>
          <p class="big">
            {{ about.short }}
          </p>
          <p>
            <label for="modal_about" id="moreAboutButton" class="outline button" role="button">
              More About Me
            </label>
          </p>
        </section>

      </article>
    </section>
  </article>
</section>
<section class="modal" role="dialog" aria-labelledby="moreAboutButton" aria-describedby="aboutTitle">
  <input id="modal_about" type="checkbox" />
  <label for="modal_about" class="overlay" role="presentation" aria-hidden="true"></label>
  <article>
    <header>
      <h2 id="aboutTitle">More About Robbie</h2>
      <button class="close pseudo" onclick="this.children[0].click()" aria-label="Close Modal">
        <label for="modal_about" role="button">&times;</label>
      </button>
    </header>
    <section class="content">
      <article id="aboutContent">
        {{ about.long | markdownify }}
      </article>
    </section>
    <footer>
      <button onclick="this.children[0].click()" aria-label="Close Modal">
        <label for="modal_about">
          Nice to meet you!
        </label>
      </button>
    </footer>
  </article>
</section>