{% assign about = site.data.about %}
<section id="about" class="background-green">
  <article class="flex one two-600">
    <section class="full half-600 third-800 fourth-1000 paddingless">
      <figure class="profile">
        <img src="{{ site.baseurl }}/images/profile.jpg" alt="Profile Picture of Robbie Antenesse" />
      </figure>
    </section>
    <section class="full half-600 two-third-800 three-fourth-1000">
      <article class="container text-center">
        <section>
          <h1 style="padding-bottom:0;">{{ about.heading }}</h1>
          <p class="large">
            {{ about.short }}
          </p>
          <p>
            <a href="{{ '/about.html' | prepend: site.baseurl }}" class="outline button">
              More About Me
            </a>
          </p>
        </section>

      </article>
    </section>
  </article>
</section>