{% assign data = site.data.footer %}
<footer class="background-dark-green">
  <section class="flex one three-700">
    <article class="text-center">
      <h2 class="huge">Location</h2>
      <p class="big">{{ data.location }}</p>
    </article>

    <article class="text-center">
      <h2 class="huge">Around the Web</h2>
      <a class="pseudo button" href="{{ data.github }}" target="_blank" rel="me" title="GitHub">
        GitHub
      </a>
      <a class="pseudo button" href="{{ data.itchio }}" target="_blank" rel="me" title="Itch.io">
        Itch
      </a>
      <a class="pseudo button" href="{{ data.mastodon }}" target="_blank" rel="me" title="Mastodon">
        Mastodon
      </a>
      <a class="pseudo button" href="{{ data.wheretofindme }}" target="_blank" rel="me" title="WhereToFind.me">
        Elsewhere
      </a>
    </article>

    <article class="text-center">
      <h2 class="huge">Freelancing Rates</h2>
      <table class="table" style="width: 100%;">
        <thead>
          <tr>
            <th>Development</th>
            <th>Consultation</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ data.rates.development }}</td>
            <td>{{ data.rates.consultation }}</td>
          </tr>
        </tbody>
      </table>
    </article>
  </section>

  <section class="text-center" style="padding-bottom:20px;">
    &copy; <span id="year">2020</span> {{ site.title }}
    | <a target="_blank" href="{{ data.support }}">Support My Projects</a>
    <script>
      document.getElementById('year').innerHTML = new Date().getFullYear().toString();
    </script>
  </section>
</footer>