<!-- Footer -->
<footer class="footer notification is-success">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third has-text-centered">
                <h3 class="title">Location</h3>
                <div class="is-size-5">{{ site.address_city }}, {{ site.address_state }}</div>
            </div>
            <div class="column is-one-third has-text-centered">
                <h3 class="title">Around the Web</h3>
                <div class="field is-grouped is-grouped-centered is-mobile">
                    {% if site.facebook_username %}
                    <div class="control has-text-centered">
                        <a href="https://www.facebook.com/{{ site.facebook_username }}">
                            <span class="icon">
                                <i class="fab fa-facebook"></i>
                            </span>
                        </a>
                    </div>
                    {% endif %}
                    {% if site.github_username %}
                    <div class="control has-text-centered">
                        <a href="https://github.com/{{ site.github_username }}" title="{{ site.github_username }}">
                            <span class="icon">
                                <i class="fab fa-github"></i>
                            </span>
                        </a>
                    </div>
                    {% endif %}
                    {% if site.itchio_username %}
                    <div class="control has-text-centered">
                        <a href="https://{{ site.itchio_username }}.itch.io" title="{{ site.itchio_username }}.itch.io">
                            {% include itchio-icon.svg %}
                        </a>
                    </div>
                    {% endif %}
                    {% if site.mastodon_username and site.mastodon_node %}
                    <div class="control has-text-centered">
                        <a href="{{ site.mastodon_protocol | default: 'http://' }}{{ site.mastodon_node }}/@{{ site.mastodon_username }}" title="@{{ site.mastodon_username }}@{{ site.mastodon_node }}">
                            {% include mastodon-icon.svg %}
                        </a>
                    </div>
                    {% endif %}
                    {% if site.twitter_username %}
                    <div class="control has-text-centered">
                        <a href="https://twitter.com/{{ site.twitter_username }}" title="@{{ site.twitter_username }}">
                            <span class="icon">
                                <i class="fab fa-twitter"></i>
                            </span>
                        </a>
                    </div>
                    {% endif %}
                    {% if site.instagram_username %}
                    <div class="control has-text-centered">
                        <a href="https://www.instagram.com/{{ site.instagram_username }}">
                            <span class="icon">
                                <i class="fab fa-instagram"></i>
                            </span>
                        </a>
                    </div>
                    {% endif %}
                    {% if site.stackoverflow_url %}
                    <div class="control has-text-centered">
						<a href="{{ site.stackoverflow_url }}">
                            <span class="icon">
                                <i class="fab fa-stack-overflow"></i>
                            </span>
                        </a>
                    </div>
                    {% endif %}
                    {% if site.googleplus_username %}
                    <div class="control has-text-centered">
						<a href="https://plus.google.com/+{{ site.googleplus_username }}">
                            <span class="icon">
                                <i class="fab fa-google-plus"></i>
                            </span>
                        </a>
                    </div>
                    {% endif %}
                    {% if site.skype_username %}
                    <div class="control has-text-centered">
						<a href="skype:{{ site.skype_username }}?call">
                            <span class="icon">
                                <i class="fab fa-skype"></i>
                            </span>
                        </a>
                    </div>
                    {% endif %}
                    {% if site.linkedin_url %}
                    <div class="control has-text-centered">
						<a href="{{ site.linkedin_url }}">
                            <span class="icon">
                                <i class="fab fa-linkedin"></i>
                            </span>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="column is-one-third has-text-centered">
                <h3 class="title">About {{ site.title }}</h3>
                <div class="is-size-5">Robbie is a web developer who prides himself on writing clean, readable code and making dreams a reality.</div>
            </div>
        </div>

        <div class="columns">
            <div class="column has-text-centered">
                Copyright &copy; {{ site.title }} {{ site.time | date: "%Y" }}
            </div>
        </div>
    </div>
</footer>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>
