<!-- Header -->
<header class="hero is-success">
    <div class="hero-head">
        {% include navbar.html %}
    </div>
    <div class="hero-body">
        <div class="columns">
            <div class="column is-one-third is-offset-one-third">
                <figure class="image is-square">
                    <img src="images/profile.png" alt="{{ site.title }}">
                </figure>
            </div>
        </div>
        <div class="columns">
            <div class="column has-text-centered">
                <h1 class="title">{{ site.title }}</h1>
                <h3 class="subtitle">{{ site.description }}</h3>
            </div>
        </div>
    </div>
</header>
