<!-- Ideas List Section -->
<section class="section" id="ideas">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">
                <h2 class="title">Ideas</h2>
                <hr>
            </div>
        </div>
        <div class="columns">
            <div class="box column is-10 is-offset-1" style="max-height: 350px; overflow-y: auto;">
                {% for idea in site.ideas %}
                <div class="columns">
                    <div class="column">
                        <a href="{{ idea.url | prepend: site.baseurl }}" class="post-link">
                            <h3 class="title">{{ idea.title }}</h3>
                        </a>
                        <span class="subtitle">{{ idea.category }}</span>
                        <hr>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>