<!-- Ideas List Section -->
    <section id="posts">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Ideas</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1" style="max-height: 200px; overflow-y: auto;">
                    <ul style="list-style:none">
                        {% for idea in site.ideas %}
                            <li class="post-list-title">
                                <a href="{{ idea.url | prepend: site.baseurl }}" class="post-link">
                                    <h3>{{ idea.title }}</h3>
                                </a>
                                <span class="post-meta">{{ idea.category }}</span>
                                <hr>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>