{% for project in site.projects %}
<div class="portfolio-modal modal fade" id="{{ project.modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ project.title }}</h2>
                        <a class="btn btn-primary" href="{{ project.link }}" target="_blank">
                            Check it out <i class="fa fa-arrow-right"></i>
                        </a>
                        <hr class="star-primary">
                        <img src="{{ site.baseurl }}/{{ project.img }}" class="img-responsive img-centered" alt="">
                        <ul class="list-inline item-details">
                            <li>
                                <strong>Type:</strong> {{ project.category }}
                            </li>
                            <li>
                                <strong>Started:</strong> {{ project.date | date: "%B %Y" }}
                            </li>
                            <li>
                                <strong>Finished:</strong> {{ project.endDate | date: "%B %Y" }}
                            </li>
                        </ul>
                        <ul class="list-inline item-details">
                            <li>
                                <strong>Roles:</strong>
                                <ul>
                                    {% for role in project.roles %}
                                    <li>
                                        {{ role }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>
                                <strong>Technologies Used:</strong><br />
                                {% for technology in project.technologies %}
                                <img src="{{ site.baseurl }}/images/icons/{{ technology }}.png"
                                    alt="{{ technology }}" style="width: 50px; margin: 2px" />
                                {% endfor %}
                            </li>
                        </ul>

                        {{ project.content }}

                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}