{% for project in site.projects %}
<div class="portfolio-modal modal fade" id="{{ project.modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ project.title }}</h2>
                        <a class="btn btn-primary" href="{{ project.link }}" target="_blank">
                            Check it out <i class="fa fa-arrow-right"></i>
                        </a>
                        <hr class="star-primary">
                        <img src="{{ site.baseurl }}/{{ project.img }}" class="img-responsive img-centered" alt="">
                        <ul class="list-inline item-details">
                            <li>
                                <strong>Type:</strong> {{ project.category }}
                            </li>
                            <li>
                                <strong>Started:</strong> {{ project.date | date: "%B %Y" }}
                            </li>
                            <li>
                                <strong>Finished:</strong>&nbsp;
                                {% if project.endDate %}
                                    {{ project.endDate | date: "%B %Y" }}
                                {% else %}
                                    Ongoing
                                {% endif %}
                            </li>
                        </ul>
                        <div class="item-details">
                            <strong>Roles:</strong>
                            {% for role in project.roles %}
                                <br>{{ role }}
                            {% endfor %}
                        </div>
                        <div class="item-details">
                            <strong>Technologies Used:</strong><br />
                            {% for technology in project.technologies %}
                            <img src="{{ site.baseurl }}/images/icons/{{ technology | downcase }}.png"
                                alt="{{ technology }}" title="{{ technology }}"
                                style="max-width: 32px; max-height: 32px; margin: 2px" />
                            {% endfor %}
                        </div>

                        {{ project.content }}

                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}