<nav class="background-dark-green">
  <a href="{{ '/' | prepend: site.baseurl }}" class="brand">
    <img class="logo" src="{{ site.baseurl }}/images/logo.png" alt="RA Logo" title="{{ site.title }}" />
    <span>{{ site.title }}</span>
  </a>

  <!-- responsive-->
  <input id="mainMenu" type="checkbox" class="show">
  <label for="mainMenu" class="burger pseudo button">Menu</label>

  <div class="menu">
    <a href="#projects" class="pseudo button">Projects</a>
    <a href="#about" class="pseudo button">About</a>
    <a href="#thoughts" class="pseudo button">Thoughts</a>
  </div>
</nav>