<nav class="background-dark-green">
  <a href="{{ '/' | prepend: site.baseurl }}" class="brand">
    <img class="logo" src="{{ site.baseurl }}/images/logo.png" alt="RA Logo" title="{{ site.title }}" />
    <span>{{ site.title }}</span>
  </a>

  <!-- responsive-->
  <input id="mainMenu" type="checkbox" class="show">
  <label for="mainMenu">
    <button class="burger pseudo" onclick="this.children[0].click()">
      Menu
    </button>
  </label>

  <div class="menu" role="navigation">
    <a href="{{ site.baseurl }}/#about" class="pseudo button" onclick="document.getElementById('mainMenu').checked=false;">
      About
    </a>
    <a href="{{ site.baseurl }}/#projects" class="pseudo button" onclick="document.getElementById('mainMenu').checked=false;">
      Projects
    </a>
    <a href="{{ site.baseurl }}/#thoughts" class="pseudo button" onclick="document.getElementById('mainMenu').checked=false;">
      Thoughts
    </a>
    <a href="{{ site.baseurl }}/#contact" class="pseudo button" onclick="document.getElementById('mainMenu').checked=false;">
      Contact
    </a>
  </div>
</nav>