<nav class="background-dark-green">
  <a href="{{ '/' | prepend: site.baseurl }}" class="brand">
    <img class="logo" src="{{ site.baseurl }}/images/logo.png" alt="RA Logo" title="{{ site.title }}" />
    <span>{{ site.title }}</span>
  </a>

  <!-- responsive-->
  <input id="mainMenu" type="checkbox" class="show">
  <button class="burger pseudo" onclick="this.children[0].click()">
    <label for="mainMenu">
      Menu
    </label>
  </button>

  <div class="menu" role="navigation">
    <a href="#about" class="pseudo button" onclick="document.getElementById('mainMenu').checked=false;">
      About
    </a>
    <a href="#projects" class="pseudo button" onclick="document.getElementById('mainMenu').checked=false;">
      Projects
    </a>
    <a href="#thoughts" class="pseudo button" onclick="document.getElementById('mainMenu').checked=false;">
      Thoughts
    </a>
    <a href="#contact" class="pseudo button" onclick="document.getElementById('mainMenu').checked=false;">
      Contact
    </a>
  </div>
</nav>