<!-- Portfolio Grid Section -->
<section id="portfolio" class="section">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">
                <h2 class="title">Portfolio</h2>
                <hr>
            </div>
        </div>
        <div class="columns is-multiline">
            {% assign projects = (site.projects | sort: 'date') | reverse %}
            {% for project in projects %}
                <div class="column is-one-third portfolio-item">
                    <a class="portfolio-link" data-modal="{{ project.modalID }}">
                        <figure class="image is-3-by-4">
                            <img src="{{ site.baseurl }}/{{ project.img }}" alt="{{ project.title }}">
                        </figure>
                    </a>
                </div>
            {% endfor %}
        </div>
        {% if site.buymeacoffee_link %}
        <div class="columns">
            <div class="column has-text-centered">
                <a class="button is-primary" target="_blank" href="https://{{ site.buymeacoffee_link }}">
                    <span class="icon">
                        <img src="https://www.buymeacoffee.com/assets/img/BMC-btn-logo.svg" alt="Buy Me A Coffee logo" />
                    </span>
                    <span>Support My Projects</span>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</section>