<!-- Portfolio Grid Section -->
<section id="portfolio" class="section">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">
                <h2 class="title">Portfolio</h2>
                <hr>
            </div>
        </div>
        <div class="columns is-multiline">
            {% assign projects = (site.projects | sort: 'date') | reverse %}
            {% for project in projects %}
                <div class="column is-one-third portfolio-item">
                    <a href="#{{ project.modalID }}" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <figure class="image is-3-by-4">
                            <img src="{{ site.baseurl }}/{{ project.img }}" alt="{{ project.title }}">
                        </figure>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>