<!-- Portfolio Grid Section -->
<section class="section" id="posts">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">
                <h2 class="title">Posts</h2>
                <hr>
            </div>
        </div>
        <div class="columns">
            <div class="box column is-10 is-offset-1" style="max-height: 200px; overflow-y: auto;">
                <ul style="list-style:none">
                    {% for post in site.posts %}
                        <li class="post-list-title">
                            <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
                                <h3>{{ post.title }}</h3>
                            </a>
                            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                            <hr>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>