<!-- Portfolio Grid Section -->
<section class="section" id="posts">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">
                <h2 class="title">Posts</h2>
                <hr>
            </div>
        </div>
        <div class="columns">
            <div class="box column is-10 is-offset-1" style="max-height: 350px; overflow-y: auto;">
                {% for post in site.posts %}
                <div class="columns">
                    <div class="column">
                        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
                            <h3 class="title">{{ post.title }}</h3>
                        </a>
                        <span class="subtitle">{{ post.date | date: "%b %-d, %Y" }}</span>
                        <hr>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>