<!-- Navigation -->
<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a href="/" class="navbar-brand">
                <img src="{{ site.baseurl }}/images/logo.png" alt="{{ site.title }}" style="height:64px;" />
                <h2 class="title site-title is-2 is-inline is-hidden-touch">
                    {{ site.title }}
                </h2>
            </a>
            <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>

        <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
                <a href="{{ site.baseurl }}/#posts" class="navbar-item">
                    Back
                </a>
            </div>
        </div>
    </div>
</nav>
