<section id="projects">
  <header class="text-center">
    <h2>Projects</h2>
  </header>
  <div class="container flex one two-500 three-800">
    {% assign projects = site.projects | sort: 'order' %}
    {% for project in projects %}
    <article>
      <a href="{{ project.url }}" class="card pseudo button">
        <!-- Change to 500px wide -->
        <img src="{{ site.baseurl }}/images/thumbnails/{{ project.slug }}.jpg" alt="{{ project.title }}">
        <footer class="text-center">
          <h3>{{ project.title }}</h3>
        </footer>
      </a>
    </article>
    {% endfor %}
  </div>

  <footer class="text-center">
    <h3 class="marginless paddingless">And More!</h3>
    <article style="padding-bottom:10px;">
      <p class="marginless">
        <a class="button" href="https://github.com/Alamantus" title="Link to GitHub">Open Source</a>
        <a class="button" href="https://alamantus.itch.io" title="Link to Itch.io">Game Development</a>
      </p>
    </article>
  </footer>

  <div class="fancy-accent top right" role="presentation" aria-hidden="true"><div></div></div>
  <div class="fancy-accent bottom left" role="presentation" aria-hidden="true"><div></div></div>
</section>