// Picnic Overrides
body {  // Make the default font nice
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

a {
  color: $picnic-info;

  &:not(.button) {
    &:hover,
    &:active,
    &:focus {
      color: darken($picnic-info, 10);
    }
  }
}

nav {
  position: relative;
}

// For some reason, hidden is not important by default!
[hidden] {
  display: none !important;
}

.modal {
  position: absolute; // Prevent modal partial from interrupting content flow.
}

@media (min-width: 700px) {
  .large {
    font-size: 1.25em;
  }
}
@media (max-width: 700px) {
  h1 {
    font-size: 1.7em !important;
    line-height: 1.25em;
  }
  h2 {
    font-size: 1.4em !important;
    line-height: 1.25em;
  }
  h3 {
    font-size: 1.2em !important;
    line-height: 1.25em;
  }
  h4 {
    font-size: 1em !important;
    line-height: 1.25em;
  }
}

main > hr {
  border: none;
  background-color: $picnic-primary;
  width: 200px;
  height: 1px;
}

// New styles
main > section {
  position: relative;
  display: block;
}

.container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

* > img {
  max-width: 100%;
}

figure.profile {
  margin: 0;
  line-height: 0;

  img {
    border-radius: 0 50% 50% 0;
  }
}

button, .button {
  &.block {
    display: block;
    width: 100%;
  }

  &.info {
    background-color: $picnic-info;
    &:hover {
      background-color: lighten($picnic-info, 10);
    }
  }

  &.outline {
    background-color: transparent;
    color: $picnic-primary;
    border: 1px solid $picnic-primary;

    &:hover {
      background-color: $picnic-primary;
      color: $white;
      border: 1px solid $white;
    }

    &.info {
      color: $picnic-info;
      border: 1px solid $picnic-info;

      &:hover {
        background-color: $picnic-info;
        color: $white;
        border: 1px solid $white;
      }
    }
  }
}

.label.info {
  background-color: $picnic-info;
}

.background-green,
.background-dark-green {
  * {
    color: $white;
  }
  .burger {
    color: $white !important;
  }
  .card *, input, textarea, select, option {
    color: $black;
  }

  .button.outline {
    color: $white;
    border: 1px solid $white;

    &:hover {
      background-color: $white;
      color: $picnic-primary;
      border: 1px solid $picnic-primary;
    }
  }
}

.background-green {
  background-color: $green;
}
.background-dark-green {
  background-color: darken($green, 10);
}

@media (max-width: $picnic-breakpoint) {
  .background-dark-green .menu {
    color: $black;
  }
}

.fancy-accent {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -10;
  background-color: $green;
  
  * {
    height: 100%;
    width: 100%;
    background-color: $white;
  }

  &.top {
    top: 0;
    bottom: 50%;
    
    &.left *:first-child {
      float: right;
      border-radius: 50% 0 0 0;
    }
    &.right *:last-child {
      float: left;
      border-radius: 0 50% 0 0;
    }
  }
  &.bottom {
    top: 50%;
    bottom: 0;
    
    &.left *:first-child {
      float: right;
      border-radius: 0 0 0 50%;
    }
    &.right *:last-child {
      float: left;
      border-radius: 0 0 50% 0;
    }
  }
}

// Sections
#posts, #ideas {
  footer {
    max-height: 400px;
    overflow-y: auto;
  }
}

#comments {
  @extend .background-green;

  padding-bottom: 1.2em;

  header form {
    box-shadow: $picnic-card-shadow;
    border-radius: $picnic-card-radius;
    border: $picnic-card-border;
    padding: 1em;

    button[type="submit"] {
      background: white;
      color: black;
    }
  }

  .comment-container {
    box-shadow: $picnic-card-shadow;
    border-radius: $picnic-card-radius;
    border: $picnic-card-border;
    padding: 1em;
    max-height: 800px;
    overflow-y: auto;

    article.comment {
      // @extend .container;
      @extend .card;
  
      &:not(:last-child) {
        margin-bottom:1em;
      }
    }
  }
}

.featured {
  h2 {
    font-size: 1.7em;
  }
  p,
  details summary,
  aside {
    font-size: 1.2em;
  }
  p,
  details,
  aside {
    margin-block-start: 1.2em;
    margin-block-end: 1.2em;
  }
  p img {
    border: 1px solid #d0d0d0;
  }
  aside {
    background-color: lavender;
    padding: 1.2em 2em;
  }
  details summary {
    cursor: pointer;
  }
  figure {
    margin: 1em auto;
  }
  .container {
    max-width: 850px;
  }
  .fancy-accent.top { bottom: 90%; }
  .fancy-accent.bottom { top: 90%; }
}

.callout {
  background: lightyellow;
}

// Utilities
.text-center {
  text-align: center;
}

.paddingless {
  padding: 0 !important;
}
.marginless {
  margin: 0 !important;
}