<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  {% capture page_description %}{% if page.summary %}{{ page.summary }}{% elsif page.path == "index.html" %}{{ site.description }}{% else page.content %}{{ page.content | strip_html | truncatewords: 15 }}{% endif %}{% endcapture %}
  <meta name="description" content="{{ page_description }}">
  <meta name="test" content="{{page.path}}">
  <meta name="keywords" content="{% if page.tags %}{{ page.tags | array_to_sentence_string: '' }}{% else %}{{ 'Antenesse, Alamantus, programmer, developer, dev, github, web, webdev, web developer, website, websites, webapp, webapps, javascript, js, es2015, es6, es2016, nodejs, Node, ReactJS, React, html, html5, css, css3, game, games, videogames, indie, itch, itch.io, itchio' }}{% endif %}">

  <meta name="author" content="Robbie Antenesse">

  <script>
    if (!/^http:\/\/localhost/.test(window.location.href) && window.location.protocol !== "https:") {
     window.location.replace(window.location.href.replace("http:", "https:"));
    }
  </script>

  <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/logo.png">

  <link rel="stylesheet" href="{{ '/main.css' | prepend: site.baseurl }}">

  <link rel="canonical" href="{{ page.url | replace: 'index.html', '' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | replace: 'index.html', '' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}">
  {% capture page_description %}{% if page.summary %}{{ page.summary }}{% elsif page.content %}{{ page.content | strip_html | truncatewords: 12 }}{% else %}{{ site.description }}{% endif %}{% endcapture %}
  <meta property="og:description" content="{{ page_description }}">
  <meta property="og:image" content="{{ site.url }}/images/profile.jpg">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://robbie.antenesse.net/">
  <meta property="twitter:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}">
  {% capture page_description %}{% if page.summary %}{{ page.summary }}{% elsif page.content %}{{ page.content | strip_html | truncatewords: 12 }}{% else %}{{ site.description }}{% endif %}{% endcapture %}
  <meta property="twitter:description" content="{{ page_description }}">
  <meta property="twitter:image" content="{{ site.url }}/images/profile.jpg">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  <header>
    {% include nav.html %}
  </header>

  <main>

    {{ content }}

  </main>

  {% include footer.html %}

<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.alamantus.com/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
</body>

</html>
