---
layout: default
---

<section>
  <header class="container">
    <a href="{{ '/' | prepend: site.baseurl }}#posts" class="pseudo button">&larr; Back</a>
    <h1>
      {{ page.title }}
      <time class="label">Posted: {{ page.date | date: "%b %-d, %Y" }}</time>
    </h1>
  </header>

  <article class="container" style="padding-bottom:5%;">
    {{ content }}
  </article>

  <div class="fancy-accent top left" role="presentation" aria-hidden="true"><div></div></div>
  <div class="fancy-accent bottom right" role="presentation" aria-hidden="true"><div></div></div>
</section>