---
layout: default
---
{% include post-navbar.html %}

<!-- Portfolio Grid Section -->
<section class="post">
    <div class="container">
        <div class="heading">
            <h2 class="title">
                {{ page.title }}
            </h2>
            <span class="meta">{{ page.date | date: "%b %-d, %Y" }}</span>
        </div>

        <div class="content">
            {{ content }}
        </div>

        {% if page.comments %}
            <!-- LikeBtn.com BEGIN -->
            <span class="likebtn-wrapper" data-theme="custom" data-icon_l="sml3-h" data-icon_d="sml3-u" data-icon_l_c_v="#00cd2d" data-icon_d_c_v="#e00000" data-i18n_like="Yay" data-show_dislike_label="true" data-counter_frmt="km" data-counter_zero_show="true" data-share_enabled="false" data-lazy_load="true" data-loader_show="true" data-i18n_dislike="Boo" data-i18n_after_like="Yayed" data-i18n_after_dislike="Booed" data-i18n_unlike_tooltip="Unyay" data-i18n_undislike_tooltip="Unboo"></span>
            <script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
            <!-- LikeBtn.com END -->

            <div id="disqus_thread"></div>
            <script>
            var disqus_config=function(){this.page.url='{{ site.url }}{{ page.url }}';this.page.identifier='{{ page.id }}';};
            (function(){var d=document, s=d.createElement('script');s.src='https://robbieantenesse.disqus.com/embed.js';s.setAttribute('data-timestamp',+new Date());(d.head||d.body).appendChild(s);})();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        {% endif %}

    </div>
</section>
