---
layout: default
---

<section>
  <header class="container">
    <a href="{{ '/' | prepend: site.baseurl }}#projects" class="pseudo button">&larr; Back</a>
    <h1>
      {{ page.title }}
      <span class="label">Dev Time: {{ page.time }}</span>
    </h1>
  </header>

  <article class="container">
    <figure>
      <img src="{{ site.baseurl }}/images/screenshots/{{ page.slug }}.png" alt="Screenshot of {{ page.title }}" />
    </figure>
    {{ content }}
  </article>

  <footer class="container text-center" style="padding-bottom:5%;">
    <a class="info button tinystats" id="{{ page.slug }}" href="{{ page.link }}" target="_blank">
      Check it out
    </a>
  </footer>

  <div class="fancy-accent top right" role="presentation" aria-hidden="true"><div></div></div>
  <div class="fancy-accent bottom left" role="presentation" aria-hidden="true"><div></div></div>
</section>